body {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.speedo-container {
  color: white;
  margin-top: 35px;
}

.sub-speedo-container {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lt-lg-container {
  font-size: 24px;
  font-weight: 600;
}

.lt-lg {
  margin: 14px;
}

.direction-container {
  margin-top: 65px;
}

.compass-container {
  width: 280px;
  height: 290px;
  position: relative;
  padding: 32px;
  margin-inline: auto;
}

.campass-niddle-container {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 6px 20px 0 #ffffff33 inset, 6px 0 20px 0 #ffffff30 inset;
}

.campass-niddle {
  margin: 16px;
}

.point-center {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #779ea7;
  border-radius: 50%;
  border: 2px solid #ffffff4a;
}

.campass-niddle-red {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 100px solid #f73b2d;
}

.campass-niddle-white {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid #286889;
}

.point {
  position: absolute;
  font-size: 36px;
  font-weight: 600;
}

.north {
  top: 0;
}

.south {
  bottom: 0;
}

.east {
  right: 0;
}

.west {
  left: 10px;
}

.loading-container {
  margin-top: 100px;
  text-align: center;
}

.animated-clock-container {
  font-size: 80px;
}

.speedo-error-container {
  margin-top: 100px;
  text-align: center;
  color: red;
}

.toggle-compass-button {
  margin-top: 24px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
