@font-face {
  font-family: 'digital-font';
  src: url('../../../public/digital-7.ttf');
}

.digital-font {
  font-family: 'digital-font';
}

body {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  overflow: scroll;
}

.speedo-container {
  color: white;
  margin-top: 35px;
}

.sub-speedo-container {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speed-meter-container {
  position: relative;
}

.speed-meter-numbers-container {
  width: 100%;
  overflow: hidden;
  height: 200px;
}

.speed-meter-numbers-arc {
  position: relative;
  border-radius: 50%;
  height: 400px;
  overflow: hidden;
}

.numbers-line {
  position: absolute;
  height: 420px;
  border: 2px solid white;
  left: 50%;
  top: 0%;
}

.hide-number-lines {
  position: absolute;
  background-color: rgb(31, 31, 31);
  height: 350px;
  width: calc(100vw - 40px);
  max-width: 350px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speed-number {
  font-size: 35px;
  margin-top: 60px;
}

.meter-numbers-1 {
  transform: rotate(0deg);
}

.meter-numbers-2 {
  transform: rotate(18deg);
}

.meter-numbers-3 {
  transform: rotate(36deg);
}

.meter-numbers-4 {
  transform: rotate(54deg);
}

.meter-numbers-5 {
  transform: rotate(72deg);
}

.meter-numbers-6 {
  transform: rotate(342deg);
}

.meter-numbers-7 {
  transform: rotate(324deg);
}

.meter-numbers-8 {
  transform: rotate(306deg);
}

.meter-numbers-9 {
  transform: rotate(288deg);
}

.speed-meter-niddle-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 1px solid white;
  transition: all 0.6s ease-in-out;
}

.speed-meter-niddle {
  width: 15px;
  height: 180px;
  background-color: white;
  border-top-left-radius: 42%;
  border-top-right-radius: 42%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.speed-meter-niddle-cover {
  width: 90px;
  height: 90px;
  background-color: rgb(31 31 31);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px -12px 12px 5px rgb(31 31 31 / 50%);
}

.speed-meter-niddle-cover-number {
  margin: auto;
  font-size: 50px;
  font-weight: 600;
  margin-top: -32px;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.speed-meter-niddle-cover-number-unit {
  margin: auto;
  font-weight: 600;
  margin-top: 12px;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.lt-lg-container {
  font-size: 24px;
  font-weight: 600;
}

.lt-lg {
  margin: 14px;
}

.direction-container {
  margin-top: 65px;
}

.compass-container {
  width: 280px;
  height: 290px;
  position: relative;
  padding: 32px;
  margin-inline: auto;
}

.campass-niddle-container {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 6px 20px 0 #ffffff33 inset, 6px 0 20px 0 #ffffff30 inset;
}

.campass-niddle {
  margin: 16px;
}

.point-center {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #779ea7;
  border-radius: 50%;
  border: 2px solid #ffffff4a;
}

.campass-niddle-red {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 100px solid #f73b2d;
}

.campass-niddle-white {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 100px solid #286889;
}

.point {
  position: absolute;
  font-size: 36px;
  font-weight: 600;
}

.north {
  top: 0;
}

.south {
  bottom: 0;
}

.east {
  right: 0;
}

.west {
  left: 10px;
}

.loading-container {
  margin-top: 100px;
  text-align: center;
}

.animated-clock-container {
  font-size: 80px;
}

.speedo-error-container {
  margin-top: 100px;
  text-align: center;
  color: red;
}

.toggle-compass-button {
  margin-top: 24px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
