* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dialog-color: #000000c2;
  --dialog-font-color: #ffffff;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 100vw;
  background-color: rgb(255, 0, 0);
  transition: 500ms linear;
}

.time-counter-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'digital-font';
  src: url('../../public/digital-7.ttf');
}

.digital-font {
  font-family: 'digital-font';
}

.single-digit {
  position: relative;
  display: inline-block;
  width: 10vw;
}

.digital-number {
  display: inline-block;
  text-align: right;
  line-height: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.digital-number-container {
  display: flex;
  color: rgb(0, 255, 255);
  mix-blend-mode: difference;
  font-size: 22vw;
}

.add-space {
  display: none;
  width: 33px;
  height: 65px;
}

@media screen and (max-width: 768px) {
  .single-digit {
    width: 96px;
  }
  .digital-number {
    text-align: right;
  }
  .digital-number-container {
    display: block;
    font-size: 200px;
  }
  .add-space {
    display: inline-block;
  }
}

.dialog-container {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
  margin: auto;
  padding-block: 16px;
  width: 100%;
  background: var(--dialog-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (min-width: 512px) {
  .dialog {
    max-width: 380px;
  }
}

.selector-number {
  width: 80px;
  padding: 8px;
  margin-inline: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.selector-number label {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--dialog-font-color);
}

.selector-number select {
  width: 100%;
  font-size: 18px;
  padding: 3px 4px 2px 4px;
  border: 0;
  border-bottom: 2px solid var(--dialog-font-color);
  background-color: transparent;
  color: var(--dialog-font-color);
}

.selector-number select option {
  color: black;
}

.button {
  background: transparent;
  border: 0;
  font-size: 30px;
  margin: 8px;
  padding: 0;
}
