.pixcel1 {
  transform: translate(15px, 5px);
}

.pixcel2 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) translate(10px, 20px);
  width: fit-content;
}

.pixcel3 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) translate(-13px, -45px);
  width: fit-content;
}

.pixcel4 {
  transform: translate(14px, -5px);
}

.pixcel5 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) translate(0px, 20px);
  width: fit-content;
}

.pixcel6 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) translate(-24px, -45px);
  width: fit-content;
}

.pixcel7 {
  transform: translate(14px, -15px);
}

.colon-pixcel {
  display: inline-block;
  transform: translate(15px, -65px);
}

.app {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}
